<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ARSKIY OSINT</title>
    
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="static/style.css">
    
    <!-- Favicon JPG -->
    <link rel="icon" type="image/jpeg" href="static/favicon.jpg">
    <link rel="shortcut icon" href="static/favicon.jpg" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>ARSKIY OSINT</header>

<div class="container">
    <form method="POST">

        <div class="box">
            <h2>
                Поиск по номеру <span class="beta-text">(BETA)</span>
            </h2>
            <input name="phone" placeholder="+79991234567">
        </div>

        <div class="box">
            <h2>
                Поиск по юзернейму
            </h2>
            <input name="username" placeholder="username">
        </div>

        <button type="submit">SEARCH</button>
    </form>

    <div class="results">
        <!-- Сюда через JS или сервер можно вставлять результаты -->
    </div>
</div>

</body>
</html>
